<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Para que mesmo? - Gerador alet&oacute;rio para justificar User Stories</title>
  <link rel="stylesheet" href="/base.css" type="text/css" media="screen" charset="utf-8" />

  </script>

  <meta name="description" content="Trabalha com User Stories, Hist&oacute;rias do Usu&aacute;rio e XP, Extreme Programming, Scrum? Se tiver dificuldade em achar o famoso 'Para que' da sua hist&oacute;ria essa &eacute; a aplica&ccedil;&atilde;o certa para voc&ecirc;..." />

  <meta name="keywords" content="User Story, User Story, Product Backlog, Como, Posso, Para, scrum, extreme programming, agile, card" />
</head>
<body>
  <div id="main">
  <!--a target="_blank" href="http://github.com/rodrigoy/paraquemesmo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a-->	
		<div id="header">
			<img src="/logo.png" alt="" />
			<div id="slogan">Sua salva&ccedil;&atilde;o para escrever User Stories</div>
			<div id="slogan2">Powered by &copy;Automagic Business Value Justification Technology</div>
		</div>
		<div id="container">
      <div id="story">
      <p>Como: ____________________</p>
      <p>Eu posso: _____________________</p>
      <p>Para: <strong><%= @paraque %></p>
      </div>
		</div>
    <div id="footer">
      Aplica&ccedil;&atilde;o criada em 1 hora com Ruby, Sinatra no Heroku. Homenagem ao #horaextra!
    </div>
	</div>
</body>
</html>
